* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Space Mono', monospace;
  /*background-color: rgb(225, 225, 225);*/
  background-image: url('./KWp2vVP.gif');
  width: 100%;
  text-align: center;
}

.nav {
  position: fixed;
  top: 3%;
  left: 3%;
}

.nav li, .nav li a {
  width: 100px;
  height: 25px;
  background: rgb(200,200,200);
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
  text-decoration-line: none;
  color: black;
}

h1 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin: 10px auto;
  font-size: 75px;
  color: red;
}

.body {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.body li a{
  color: blue;
}

.body p {
  width: 80%;
  margin: 0 auto;
}

.subheading {
  font-size: 25px;
}

.usefull_links {
  list-style-type: none;  
}

footer {
  width: 100%;
  color: white;
  height: 10%;
  text-align: center;
  background-color: rgb(0,0,0);
  position: fixed;
  top: 90%
}

/*
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Space Mono', monospace;